<div class="container">
  <h2 style="text-align:center;">Appointmnets</h2>
  <ul>
    <ol *ngFor="let appoint of appointmentlist">
      <a routerLink="/appoint/{{appoint.id}}">
        <span class="badge">{{appoint.id}} {{appoint.name}}</span>
      </a>
    </ol>
  </ul>
</div>


<table mdbTable>
  <thead>
    <tr>
      <th  *ngFor="let appoint of appointmentlist" scope="col">{{appoint.id}} {{appoint.name}}</th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let appoint of appointmentlist">
      <th scope="row">{{appoint.name}}</th>
      <td>{{appoint.id}}</td>
      <td>{{appoint.name}}</td>

    </tr>
  </tbody>
</table>
